<% provide(:title, "Home") %>

<div class="center jumbotron">

    <%= link_to image_tag("noun_quilt block_159668.svg", alt: "QAL Logo", width: "200") %>

    <h2> Quilt-A-Long</h2>

    <a class="btn btn-lg btn-primary" href="<%= signup_url %>"/>Sign Up</a>
    <a class="btn btn-lg btn-primary" href="<%= login_url %>"/>Log In</a>
</div>

    <%= link_to 'Login with Github', '/auth/github' %>
    <br>
     <%= link_to "Log In with Google", '/auth/google_oauth2' %>

  

   
    
    

    
