<h1> Quilt-A-Longs </h1>

<p class="btn btn-sm"><%= link_to "Add New", new_qal_path %></p>
<p class="btn btn-sm"><%= link_to "My Profile", current_user %></p>


<p class="btn btn-sm"> <%= link_to "Quilt-A-Longs for Beginners", qals_beginners_path %> </p>
<p class="btn btn-sm"> <%= link_to "Quilt-A-Longs with finished quilts", qals_finished_quilts_path %> </p>                 
<p class="btn btn-sm"> <%= link_to "Quilt-A-Longs by ending date", qals_ending_soon_path %> </p>                 


    <table class="table">
        <thead>
            <tr>
              <th> Name </th>
              <th> Start Date </th>
              <th> End Date </th>
              <th> Skill Level </th>
              <th> Quilting Style </th>
              <tr> </tr>
        </thead>
        <tbody>
            <% @qals.each do |q| %>
            <tr>
                <td><%= link_to q.qal_name, qal_path(q) %></td>
                <td> <%= q.start_date %></td>
                <td><%= q.end_date %></td> 
                <td><%= q.skill_level %></td> 
                <td><%= q.quilting_style %></td> 

                <% if current_user.id == q.user_id %> 
                    <td> 
                        <p class="btn btn-sm"><%= link_to "Edit", edit_qal_path(q)%></p>
                        <p class="btn btn-sm"><%= link_to "Delete", qal_path(q), method: :delete, data: { confirm: "Are you sure?" }  %></p>
                    </td>
                    <% end %>
                
            </tr>
              <% end %>
        </tbody>
    </table>
   
