
<h1><%= @qal.qal_name %></h1>

<% if current_user.id == @qal.user_id %>
    <p class="btn btn-sm"><%= link_to "Edit", edit_qal_path(@qal)%></p>
    <p class="btn btn-sm"><%= link_to "Delete", qal_path(@qal), method: :delete, data: { confirm: "Are you sure?" }  %></p>
    <% end %>

     <p class="btn btn-sm"><%= link_to "My Profile", current_user %></p>

<div>
    <p class="qal-label">Designer: <%= @qal.user.company_name%></p>
</div>

<div>
    <p class="qal-label"> Start date: <%= @qal.start_date %></p>
    <p class="qal-label"> End date: <%= @qal.end_date %></p>

    <p class="qal-label">Skill level: <%= @qal.skill_level %></p>
    <p class="qal-label">Quilt style: <%= @qal.quilting_style %></p>
</div>

<div>
    <p class="qal-label">My Quilters: <% @qal.quilters.each do |quilter| %></p>
    
        <ul>
            <li><%= link_to quilter.quilter_name, quilter_path(quilter) %></li>
            <li>Quilts: <% quilter.quilts.each do |quilt_name| %> </li>
                        <p><%= quilt_name.quilt_name %></p>
                        <% end %>
        </ul>
        <% end %><br>
       
    <p class="btn btn-sm"><%= link_to "View all Quilters", quilters_path %></p>
  


    <p class="qal-label">Prizes: <% @qal.prizes.each do |prize| %></p>
        <ul>
            <li><%= link_to prize.prize_name, prize_path(prize) %></li>
            <% if prize.sponsor %>
            <li>Sponsored by: <%= prize.sponsor.sponsor_name %></li>
                <%end%>
        </ul>
        <% end %>
        
    <p class="btn btn-sm"><%= link_to "View all Prizes", prizes_path%></p>
    
</div>