
<h1><%= @qal.qal_name %></h1>

<div>
    <p class="qal-label">Designer: <%= @qal.user.company_name%></p>
</div>

<div>
    <p class="qal-label"> Start date: <%= @qal.start_date %></p>
    <p class="qal-label"> End date: <%= @qal.end_date %></p>

    <p class="qal-label">Skill level: <%= @qal.skill_level %></p>
    <p class="qal-label">Quilt style: <%= @qal.quilting_style %></p>
</div>

<div>
    <p class="qal_label">Quilters: <% @qal.quilters.each do |quilter| %>
        <ul>
            <li><%= link_to quilter.quilter_name, quilter_path(quilter) %></li>
        </ul>
        <% end %><br>
        <% if current_user.id == @qal.user_id %>
    <p class="btn btn-sm">
            <%= link_to "Add a Quilter", new_quilter_path(@quilter)%>
    </p>
    <% end %>

    <p class="qal-label">Prizes: <% @qal.prizes.each do |prize| %></p>
        <ul>
            <li><%= link_to prize.prize_name, prize_path(prize) %></li>
        </ul>
        <% end %>

        <% if current_user.id == @qal.user_id %>
    <p class="btn btn-sm">
            <%= link_to "Add a Prize", new_prize_path(@prize)%>
    </p>
    <% end %>

    <p class="qal-label">Prizes: <% @qal.prizes.each do |prize| %></p>
        <ul>
            <li><%= link_to prize.prize_name, prize_path(prize) %></li>
        </ul>
        <% end %>
    <% if current_user.id == @qal.user_id %>
    <p class="btn btn-sm">
            <%= link_to "Add a Sponsor", new_sponsor_path(@sponsor)%>
    </p>
    <% end %>

</div>


<footer>
<% if current_user.id == @qal.user_id %>
    <p class="btn btn-sm">
            <%= link_to "Edit", edit_qal_path(@qal)%>
    </p>
    <p class="btn btn-sm">
        <%= link_to "Delete", qal_path(@qal), method: :delete, data: { confirm: "Are you sure?" }  %>
    </p>
    <p class="btn btn-sm">
        <%= link_to "My Profile", current_user %>
        </p>
</footer>

    <% end %>

    
    