
<h1><%= @qal.qal_name %></h1>

<div>
    <p class="qal_label">Brought to you by: <%= @qal.user.company_name%></p>
</div>

<div>
    <p class="qal_label"> Start date: <%= @qal.start_date %></p>
    <p class="qal_label"> End date: <%= @qal.end_date %></p>

    <p class="qal_label">Skill level: <%= @qal.skill_level %></p>
    <p class="qal_label">Quilt style: <%= @qal.quilting_style %></p>
</div>

<div>
    <p class="qal_label">Quilters: <% @qal.quilters.each do |quilter| %>
        <ul>
            <li><%= link_to quilter.quilter_name, quilter_path(quilter) %></li>
        </ul>
        <% end %><br>

    <p class="qal_label">Prizes: <%= %></p><br>

    <p class="qal_label">Sponsored by: <%= %></p><br>
</div>

<% if current_user.id == @qal.user_id %>
    <%= link_to "Edit | ", edit_qal_path(@qal)%>
    <%= link_to "Delete | ", qal_path(@qal), method: :delete, data: { confirm: "Are you sure?" }  %>
    <%= link_to "Profile", current_user %>

    <% end %>
    