<h1>Sign up</h1>

<%= form_for :user do |f| %>
<div>
Name: <%= f.text_field :name %><br>
Email: <%= f.text_field :email %><br>
Password: <%= f.password_field :password_digest %><br>
Confirm password: <%= f.password_field :password_digest %><br>
<%= f.submit "Submit" %>
<% end %>