<% provide(:title, 'User')%>

<h1> Hi, <%= @user.name %> </h1>

        <aside class="user-bio">
    
            <h4> Company Name:  </h4>
                <h5><%= @user.company_name %></h5><br>
            <h4> Quilting Style: </h4>
                <h5><%= @user.quilting_style %></h5><br>
            <h4> Number of Quilt-A-Longs: </h4>
                <h5><%= @user.qals.size %></h5><br>

             <% if current_user.id == @user.id %>
                    <p class="btn btn-sm"><%= link_to "Edit Profile ", edit_user_path(@user) %>
                <% end %></p>
        </aside>    

        <section class="user-qals">
            <h4>My Quilt-A-Longs</h4>
                <% @qals.each do |qal| %>
                <div class="user-qals-detail">
                    <%= link_to qal.qal_name, qal_path(qal) %><br>
                </div>
                    <% end %><br>
            <p class="btn btn-sm"><%= link_to "View All", qals_path %></p>
            <p class="btn btn-sm"><%= link_to "Add New", new_qal_path %></p>

        </section>


        







  
  

   

    


