

<h1> Hi, <%= @user.name %> </h1>

    <section class="user-bio">
        <h3> Company Name:  </h3>
        <%= @user.company_name %>
        <h3> Quilting Style: </h3>
        <%= @user.quilting_style %><br>

        <%= link_to "Edit", edit_user_path(@user) %>
    </section>

        

    <section class="user-qals">
        <h3>My Quilt-A-Longs</h3>
            
                <% @user.qals.each do |qal| %>
                <div class="user-qals-detail">
                <%= link_to qal.qal_name %><br>
                <%= qal.start_date %><br>
                <%= qal.end_date %><br>
                 </div>
                <% end %><br>
           
          
        <%= link_to "Add", new_qal_path %>
    </section>

    <section class="user-quilters">
        <h3>My Quilters</h3>
            <% @user.quilters.each do |quilter| %>
            <%= quilter.quilter_name %>
             <% end %><br>

        
        <%= link_to "Add", new_quilter_path %>
    </section>





  
  

   

    


