<% provide(:title, 'User')%>

<h1> Hi, <%= @user.name %> </h1>

        <section class="user-bio">
            <% if current_user.id == @user.id %>
            <%= link_to "Edit | ", edit_user_path(@user) %>
            <%= link_to "Delete", user_path(@user), method: :delete, data: { confirm: "Are you sure?" }  %>
        <% end %>

    
        <h4> Company Name:  </h4>
            <h5><%= @user.company_name %></h5>
        <h4> Quilting Style: </h4>
            <h5><%= @user.quilting_style %></h5><br>

        
    </section>    

    <section class="user-qals">
        <%= link_to "View All | ", qals_path %>
        <%= link_to "Add New", new_qal_path %>

        <h3>My Quilt-A-Longs</h3>
            
            <% @qals.each do |qal| %>
                <div class="user-qals-detail">
                    <%= link_to qal.qal_name, qal_path(qal) %><br>
                </div>
            <% end %><br>
           
    </section>

    <section class="user-quilters">
     <%= link_to "View All | ", quilters_path %>
      <%= link_to "Add New", new_quilter_path %>
        <h3>My Sponsors</h3>

    </section>





  
  

   

    


