

<h1> Hi, <%= @user.name %> </h1>

 <%#if profile info filled out, show it, 
 else, show link/button to edit page %>

        <button> <%= link_to "My profile", user_path(@user) %> </button>

    <section>
        <h3>My Quilt-A-Longs</h3>

            

        <button> <%= link_to "Create a new Quilt-A-Long", new_qal_path %> </button>
    </section>
    <br>


    <%= button_to 'Logout', logout_path, method: 'delete' %>

     <%= link_to "Log out", logout_path, method: "delete" %><br>

  
  

   

    


