

<h1> Hi, <%= @user.name %> </h1>

    <section>
        <h3> About Me </h3>
        <%= link_to "Edit", edit_user_path(@user) %>
    </section>

        
    <section>
        <h3>My Quilt-A-Longs</h3>
            <% @qals.each do |qal| %>
            <%= qal.qal_name %><br>
            <%= qal.start_date %><br>
            <%= qal.end_date %><br>
        <% end %>
    </section>

    <section>
        <h3>My Quilters</h3>
            <% @quilters.each do |q| %>
            <%= q.quilter_name %><br>
            
        <% end %>
    </section>





  
  

   

    


