<% provide(:title, @user.name) %>

<h1> Hi, <%= @user.name %> </h1>

    <aside>
        <h4>Company Name<h4>
        <h4>Quilting Style</h4>

        <button> <%= link_to "Edit my profile" %> </button>
    </aside>

    <section>
        <h3>My Quilt-A-Longs</h3>

            

        <button> <%= link_to "Create a new Quilt-A-Long", new_qal_path %> </button>
    </section>
    <br>


    <%= button_to 'Logout', logout_path, method: 'delete' %>

     <%= link_to "Log out", logout_path, method: "delete" %><br>

  
  

   

    


