<%= form_for (@quilter) do |f| %>

<%= f.label :quilter_name %>
<%= f.text_field :quilter_name %>
<br>
<%= f.label "My Quilt-A-Long" %>
<%= f.collection_select :qal_id, Qal.all, :qal_name, :qal_name %>
    <br>

<%= f.label "Add a Quilt" %>
    <%= fields_for :quilts do |quilt_builder|%>
        <%= quilt_builder.label :quilt_name %>
        <p><%= quilt_builder.text_field :quilt_name %></p>
        <%= quilt_builder.label :is_finished, "Is it finished?" %>
        <%= quilt_builder.check_box :is_finished %>
        <% end%>
  

<%= f.submit "Update Quilter" %>
    
<% end %>