<h1> Quilters </h1>

    <p class="btn btn-sm"><%= link_to "Add New Quilter", new_quilter_path %></p>

<h4> Search by Quilt-A-Long</h4>
    <%= form_tag quilters_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag ("Search") %>
    <% end %>

    <table class="table">
        <thead>
            <tr>
              <th> Name </th>
              <th> Quilt-A-Long </th>
              <th> Quilt Name </th>
              <th> Finished? </th>
              <th> Actions </th>
             </tr>
        </thead>

        <tbody>

            <% @quilters.each do |q| %>
            <tr>
                <td><%= q.quilter_name %></td>
                <td> <%= q.qal.qal_name %>  <%# Quilter belongs_to a QAL: %>
                 <td>
                    <ul>
                        <% q.quilts.each do |quilt| %>
                        <li><%= quilt.quilt_name %></li>  <%# Quilter has_many Quilts: %>
                        <% end %>
                        </ul>
                </td>
                <td>
                    <ul>
                    <% q.quilts.each do |quilt| %>
                    <li><%= quilt.is_finished %></li>
                     <% end %>
                     </ul>
                </td>

                <td>    
                    <p class="btn btn-sm"><%= link_to "Add a Quilt", new_quilter_quilt_path(q) %></p>
                    <p class="btn btn-sm"><%= link_to "Edit", edit_quilter_path(q) %></p>
                    <p class="btn btn-sm"><%= link_to "Delete", quilter_path(q), method: :delete, data: { confirm: "Are you sure?" }  %></p>
                </td>
            </tr>
              <% end %>
        </tbody>
    </table>



