<h1> Quilters </h1>

    <section class="btn btn-sm">
        <%= link_to "Add New", new_quilter_path %>
    </section>

    <table class="table">
        <thead>
            <tr>
              <th> Name </th>
              <th> Quilt-A-Long </th>
              <th> Quilt Name </th>
              <th> Finished? </th>
              <th> Actions </th>
             </tr>
        </thead>

        <tbody>
            <% @quilters.each do |q| %>
            <tr>
                <td><%= q.quilter_name %></td>

                <%# Quilter belongs_to a QAL: %>
                <td> <%= q.qal.qal_name %></td>
               

                <%# Quilter has_many Quilts: %>
                 <td>
                        <% q.quilts.each do |quilt| %>
                        <%= quilt.quilt_name %>
                        <% end %>
                </td>
                
                <td>
                    <% q.quilts.each do |quilt| %>
                    <%= quilt.is_finished %>
                     <% end %>
                </td>

                <td> 
                    <p class="btn btn-sm"><%= link_to "Add a Quilt", new_quilter_quilt_path(q) %></p>
                    <p class="btn btn-sm"><%= link_to "Edit", edit_quilter_path(q) %></p>
                    <p class="btn btn-sm"><%= link_to "Delete", quilter_path(q), method: :delete, data: { confirm: "Are you sure?" }  %></p>
                </td>
            </tr>
              <% end %>
        </tbody>
    </table>



