<% provide(:title, "Add a Quilter") %>

<h1> Add a Quilter </h1>

<%= form_for (@quilter) do |f| %>

    <%= f.label :quilter_name %>
    <%= f.text_field :quilter_name %>
   
    <div>
        <%= f.label "Add a Quilt:" %><br>
        <%= f.fields_for :quilt do |build| %>
            <%= build.label :quilt_name %>
            <%= build.text_field :quilt_name %
            <br>
            <%= build.label "Is it finished?" %>
            <%= build.check_box :is_finished %>
        <% end %>
    </div>
    <%= f.submit "Create Quilter" %>
<% end %>
