<% provide(:title, "Add a Quilter") %>

<h1> Add a Quilter </h1>

<%= form_for (@quilter) do |f| %>

    <%= f.label :quilter_name %>
    <%= f.text_field :quilter_name %>
    <br>
    <%= f.label "Quilt-A-Long" %>
    <%= f.collection_select :qal_name, Qal.all, :qal_name, :qal_name %>
    <br>
    <div>
        <%= f.label "Add a Quilt:" %>
        <input type="text" name="quilter[quilts][]" id="quilt_1"><br>
        <br>
        <%= f.label "Is it Finished?" %>
    </div>

    <br>
    <br>
<%= f.submit "Create Quilter" %>

<br>
<% end %>
