<section class="btn btn-sm">
    <%= link_to "All Quilters", quilters_path %>
</section>
<section class="btn btn-sm">
    <%= link_to "My Profile", current_user %>
</section>


<h1><%= @quilter.quilter_name %></h1>
<div>
    <h4> My Quilt-A-Long: <%= @quilter.qal.qal_name %> </h4>

    <h4> My Quilts: <% @quilter.quilts.each do |q| %>
            <li><p><%= q.quilt_name %></p></li>
        <% end %>
</div>
<div>        
    <p class="btn btn-sm"><%= link_to "Edit", edit_quilter_path(@quilter) %></p>
    <p class="btn btn-sm"><%= link_to "Delete", quilter_path(@quilter), method: :delete, data: { confirm: "Are you sure?" }  %></p>
    

 </div>

 