<%= link_to "All Quilters | ", quilters_path %>
<%= link_to "My Profile", current_user %>

<h1><%= @quilter.quilter_name %></h1>

<%= link_to "Edit | ", edit_quilter_path(@quilter) %>
 <%= link_to "Delete", quilter_path(@quilter), method: :delete, data: { confirm: "Are you sure?" }  %>
<br>
<h4> My Quilt-A-Long: <%= @quilter.qal_id %> </h4>

<br>
<h4> My Quilts: <%= @quilter.quilts  %> </h4>
