<%= link_to "All Quilters | ", quilters_path %>
<%= link_to "My Profile", current_user %>

<h1><%= @quilter.quilter_name %></h1>

<br>
<h4> My Quilt-A-Long: <%= @quilter.qal_id %> </h4>


<br>

<h4> My Quilts: <% @quilter.quilts.each do |q| %>
<%= q.quilt_name %>
<% end %>
<br>
<br>
<br>
 <%= link_to "Delete", quilter_path(@quilter), method: :delete, data: { confirm: "Are you sure?" }  %>
