<h3> Add a New Quilt for <%= @quilter.quilter_name %> </h3>
<p>Quilt-A-Long: <%= @quilter.qal.qal_name %>  </p>

<%= form_for @quilt do |f| %>

    <p><%= f.label "Quilt Name:" %></p>
    <p><%= f.text_field :quilt_name %></p>
    
    <p><%= f.label "Is the quilt finished?" %></p>
    <%= f.select :is_finished, [["Yes", true], ["No", false]]%>

    <%= f.hidden_field :qal_id, value: @qal %>
    <%= f.hidden_field :quilter_id, value: @quilter.id %>
    
    <p><%= f.submit "Create New Quilt" %></p>

<% end %>



