<h3> New Quilt </h3>

<%= form_for (@quilt) do |f| %>
<%= f.label "Quilt Name:" %>
<%= f.text_field :quilt_name %>
<br>
<%= f.label "Is the quilt finished?" %>
<%= f.select :is_finished, [["Yes", true], ["No", false]], :include_blank => true %>
<br>
<br>
<%= f.label "Select Quilter:" %>

<%= f.select :quilter_id, @quilters.collect { |q| [q.quilter_name] } %>
<%= f.submit%>

<% end %>


