<h3> New Quilt </h3>

<%= form_for (@quilt) do |f| %>
<%= f.label :quilt_name %>
<%= f.text_field :quilt_name %>
<br>
<%= f.label "Is the quilt finished?" %>
<%= f.check_box :is_finished %>
<br>
<%= f.label :quilter_id %>
<%= f.check_box :is_finished %>
<br>
<%= f.select :quilter_id, @quilters.collect { |q| [q.quilter_name] } %>

<%= f.submit %>

<% end %>


