<h3> New Quilt </h3>

<%= form_for (@quilt) do |f| %>

    <p><%= f.label "Quilt Name:" %></p>
    <%= f.text_field :quilt_name %>
    
    <p><%= f.label "Is the quilt finished?" %></p>
    <%= f.select :is_finished, [["Yes", true], ["No", false]], :include_blank => true %>
   
    <p><%= f.label "Select Quilt-A-Long:" %></p>

    <%= f.select :qal_id, @qals.collect { |q| [q.qal_name] } %>
    
    <p><%= f.submit%></p>

<% end %>


