<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="nav-container">
      <%= link_to "Quilt-A-Long",root_path, id: "logo" %><br>
            

    </div>

    <nav class="nav-header">
        <% if logged_in? %>
            <%= link_to "My Profile | ", '/profile' %>
            <%= link_to "Quilt-A-Longs | ", qals_path %>
            <%= link_to "Quilters | ", quilters_path %>
            <%= link_to "Sponsors | ", sponsors_path %>

            <%= link_to "Logout", logout_path, method: :delete %> 
                
            <% else %>
            <%= link_to "Signup", signup_path %>
            <%= link_to "Login", login_path %>

            <% end %>
        </nav>
       
</header>