<!DOCTYPE html>
<html>
  <head>
        <title> <%= yield(:title) %> | Quilt-A-Long App</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>


    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>

