<!DOCTYPE html>
<html>
  <head>
        <title> <%= yield(:title) %> | Quilt-A-Long App</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/shim' %>
  </head>

  <body>
  
    <%= render 'layouts/header' %>
   

    <!-- content -->
    <div class="container"  role="main">
      <div>
          <% if logged_in? %>
              <p> Logged in as: <%= current_user.name %> </p>
              <% else %>
          <% end %>
      </div>

      <div>
        <% if flash[:message] %>
          <div class="warning"><%= flash[:message] %>
          <% end %></div>

      <%= yield %>

      </div>
      <%= render 'layouts/footer' %>

  </body>
</html>

